.navbar-style{
    background-color: rgba(157, 158, 158, 0.692);
}
{
  
    color: rgb(4, 4, 148);
    font-size: 20px;
    font-weight: 600;
}
.navStyle{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-style: normal;
    font-weight: 700;
}